<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.dataapplab.springboot.security.UserMapper">

	<resultMap type="Role" id="RoleResult">
  		<id property="id" column="role_id"/>
		<result property="name" column="name"/>
		<result property="description" column="description"/>
  	</resultMap>
  	
	<resultMap type="Account" id="UserResult">
  		<id property="id" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="avatar" column="avatar"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="resetToken" column="reset_token"/>		
		<result property="enabled" column="enable"/>		
		<result property="createDate" column="create_date"/>
		<result property="modifiedDate" column="modified_date"/>
  	</resultMap>
  	  	
	<resultMap type="Account" id="UserResultWithRoles">
  		<id property="id" column="user_id"/>
		<result property="id" column="id"/>
		<result property="userName" column="user_name"/>
		<result property="avatar" column="avatar"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="resetToken" column="reset_token"/>		
		<result property="enabled" column="enable"/>		
		<result property="createDate" column="create_date"/>
		<result property="modifiedDate" column="modified_date"/>
        <collection property="roles" ofType="Role" resultMap="RoleResult">
        </collection>		
  	</resultMap>
</mapper>